{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
</br></br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container mt-2">

<form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color: rgb(16, 182, 237); border-radius: 10px;">
                <h5 class="card-title mb-0 text-light">Login Info</h5>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label for="{{ form.username.id_for_label }}" class="form-label"><b>Username</b></label>
                    {{ form.username }}
                    <span class="text-danger">{{ form.username.errors }}</span>
                </div>
                <div class="mb-2">
                    <label for="{{ form.password1.id_for_label }}" class="form-label"><b>{{ form.password1.label }}</b></label>
                    {{ form.password1 }}
                    <span class="text-danger">{{ form.password1.errors }}</span>
                </div>
                <div class="mb-3">
                    <label for="{{ form.password2.id_for_label }}" class="form-label"><b>{{ form.password2.label }}</b></label>
                    {{ form.password2 }}
                    <span class="text-danger">{{ form.password2.errors }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color: rgb(16, 182, 237); border-radius: 10px;">
                <h5 class="card-title mb-0 text-light ">Personal Info</h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>{{ form.first_name.label }}</b>
                            {{ form.first_name }}
                            <span class="text-danger">{{ form.first_name.errors }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                           <b>{{ form.last_name.label }}</b>
                            {{ form.last_name }}
                            <span class="text-danger">{{ form.last_name.errors }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <b>{{ form.email.label }}</b>
                        {{ form.email }}
                        <span class="text-danger">{{ form.email.errors }}</span>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <b>{{ form.address.label }}</b>{{ form.address }}
                        <span class="text-danger">{{ form.address.errors }}</span>
                    </div>
                    </div>
                    <div class="col-md-6 mb-1">
                    <div class="form-group">
                        <b>{{ form.phone.label }}</b>{{ form.phone }}
                        <span class="danger">{{ form.phone.errors }}</span>
                    </div>
                    </div>
                   
                </div>
               
            </div>
   
    </div>
</div>

<center><input class="btn btn-primary mt-4" type="submit" value="Save"></center>
</form>
</div>

{% endblock content %}
