{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<center> <p class="title-1"><i class="fas fa-cogs"></i>Student Update</p> </center>
<div class="title-line"></div><br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container mt-0 mb-5">
    <form class="row g-2" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color: rgb(16, 182, 237); border-radius: 10px;">
                    <h5 class="card-title mb-0 text-light">Email & Personal Info</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <label for="{{ form.email.id_for_label }}" class="form-label"><b>{{ form.email.label }}</b></label>
                        {{ form.email }}
                        <span class="text-danger">{{ form.email.errors }}</span>
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.first_name.id_for_label }}" class="form-label"><b>{{ form.first_name.label }}</b></label>
                        {{ form.first_name }}
                        <span class="text-danger">{{ form.first_name.errors }}</span>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.last_name.id_for_label }}" class="form-label"><b>{{ form.last_name.label }}</b></label>
                        {{ form.last_name }}
                        <span class="text-danger">{{ form.last_name.errors }}</span>
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.phone.id_for_label }}" class="form-label"><b>{{ form.phone.label }}</b></label>
                        {{ form.phone }}
                        <span class="text-danger">{{ form.phone.errors }}</span>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.address.id_for_label }}" class="form-label"><b>{{ form.address.label }}</b></label>
                        {{ form.address }}
                        <span class="text-danger">{{ form.address.errors }}</span>
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.picture.id_for_label }}" class="form-label"><b>Profile Picture</b></label><br>
                        {{ form.picture }}
                        <span class="text-danger">{{ form.picture.errors }}</span>
                    </div>
                    <center>
                        <input class="btn btn-primary mt-2" type="submit" value="Save">
                    </center>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
