{% extends 'base.html' %}

{% block title %}
    {{ title }} Elearning
{% endblock title %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-circle"></i>{{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        <i class="fas fa-check-circle"></i>{{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container-fluid mt-3">
            <div class="row">
                
                <div class="col-md-6 mx-auto">
                    <div class="btn-flex">
                        <a class="edit-btn" href="{% url 'edit_profile' %}"><i class="fas fa-user-edit"></i>
                            <span class="mobile-hide">Edit Profile</span></a>
                        <a class="edit-btn" href="{% url 'change_password' %}"><i class="fas fa-lock"></i><span class="mobile-hide">
                            Change password</span></a>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-lock"></i> Login Info</h5>
                            <div class="card-text">
                                <p><strong>Full Name:</strong> {{ user.get_full_name|title }}</p>
                                <p><strong>Role:</strong> {{ user.get_user_role }}</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-user"></i> Personal Info</h5>
                            <div class="card-text">
                                <p><strong>First Name:</strong> {{ user.first_name|title }}</p>
                                <p><strong>Last Name:</strong> {{ user.last_name|title }}</p>
                                <p><strong>Username:</strong> {{ user.username }}</p>
                            </div>
                        </div>
                    </div>
        
                    {% if user.is_student %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-graduation-cap"></i> Applicant Info</h5>
                                <div class="card-text">
                                    <p><strong>School:</strong> EMSI MARRAKECH</p>
                                    <p><strong>Level:</strong> {{ level.level }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
        
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-phone-square-alt"></i> Contact Info</h5>
                            <div class="card-text">
                                <p><strong>Email:</strong> {{ user.email }}</p>
                                <p><strong>Tel No.:</strong> {{ user.phone }}</p>
                                <p><strong>Address/city:</strong> {{ user.address }}</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-calendar-day"></i> Important Dates</h5>
                            <div class="card-text">
                                <p><strong>Last login:</strong> {{ user.last_login }}</p>
                                <p><strong>Academic Year:</strong> 2023</p>
                                <p><strong>Registered Date:</strong> {{ user.date_joined|date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
