{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="d-flex align-items-center">
    <div class="title-1"><i class="fas fa-user-graduate"></i> Students List</div>
    <div class="ml-auto">
      <div class="input-group-append ml-2">
        <input type="text" class="form-control" placeholder="Rechercher par nom" aria-label="Rechercher une leçon" id="search-input">
     
      {% if request.user.is_superuser %}
      <a class="add-button btn btn-primary ml-2" href="{% url 'add_student' %}"><i class="fas fa-plus"></i> Add</a>
      {% endif %}
    </div>
    </div>
  </div>
  
  
  
<div class="table-responsive table-shadow table-light table-striped m-0 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th> username </th>
                <th> Full Name </th>
                <th> Email </th>
                <th> Tell </th>
                {% if request.user.is_superuser %}
                <th> Action </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
            <tr>
                <td><a href="{% url 'profile_single' student.student.id %}">{{ forloop.counter }}</td>
                <td>{{ student.student.username }} </td>
                <td>{{ student.student.get_full_name }}</td>
                <td>{{ student.student.email }} </td>
                <td>{{ student.student.phone }} </td>
                {% if request.user.is_superuser %}
                <td>
                    <div class="update-delete">
                        <a href="{% url 'student_edit' student.student.pk %}" class="update" title="Edit"><i class="fas fa-edit"></i></a>
                        <form action="{% url 'student_delete' student.pk %}">{% csrf_token %}
                            <button type="submit" class="btn btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
                {% endif %}
                
                {% empty %}
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                  <span class="text-danger">
                    <i class="far fa-frown"></i>Vide !
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_student' %}">
                    <i class="primary" style="font-size: 22px;">
                       Add !
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
