{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}

{% block content %}
<div class="container">
    {% if request.user.is_superuser %}
    <div class="manage-wrap">
        <a class="btn btn-info" href="{% url 'add_item' %}"><i class="fas fa-plus"></i> Add Post</a>
    </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i> {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success">
        <i class="fas fa-check-circle"></i> {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <style>
        .color-indicator {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 2px;
        }
    
        .bg-warning {
            background-color: #ffc107;
        }
    
        .bg-purple {
            background-color: blue;
        }
    </style>
    
    <div class="col-md-2 ml-auto d-flex">
        <div class="mr-3">
            <span class="color-indicator bg-purple"></span>
            <span class="ml-1">News</span>
        </div>
        <div>
            <span class="color-indicator bg-warning"></span>
            <span class="ml-1">Events</span>
        </div>
    </div>
    
    

    
    
    

    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header-ne {% if item.posted_as == 'News' %}bg-primary text-white{% else %}bg-warning text-white{% endif %} p-2">

                    <h5 class="card-title">{{ item.title|title }}</h5>
                    {% if request.user.is_superuser %}
                    <div class="dropdown">
                        <button class="btn btn-sm" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-white"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'edit_post' pk=item.id %}"><i
                                    class="fas fa-pencil-alt"></i> Edit</a>
                            <a class="dropdown-item" href="{% url 'delete_post' pk=item.id %}"><i
                                    class="fas fa-trash-alt"></i> Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ item.summary }}</p>
                    <div class="date-wrapper">
                        <i class="fa fa-clock mr-2"></i>
                        {{ item.updated_date|timesince }} ago
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if items %}
    {% else %}
    <p class="text-center">
        <i class="far fa-frown fa-2x"></i> It's empty.
    </p>
    {% endif %}
</div>
{% endblock content %}
