{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<<div class="title-1"><i class="fas fa-user-tie"></i>Admin Panel</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="admin-panel">
    <div class="row">
        <div class="col-md-6 p-5 bg-gradient-light">
            Manage<a class="btn btn-sm btn-secondary" href="{% url 'prof_list' %}"> Prof &raquo;</a>
            <p><span>&LongRightArrow;</span> (Create, Update & Delete) prof</p><hr>
            Manage<a class="btn btn-sm btn-secondary" href="{% url 'student_list' %}"> Students &raquo;</a>
            <p><span>&LongRightArrow;</span> (Create, Update & Delete) students</p><hr>
            Manage<a class="btn btn-sm btn-secondary" href="{% url 'programmes:niveaulist' %}"> Courses &raquo;</a>
            <p><span>&LongRightArrow;</span> (Create, Update & Delete) courses</p><hr>
            Manage<a class="btn btn-sm btn-secondary" href="{% url 'acceuil' %}"> News&Events &raquo;</a>
            <p><span>&LongRightArrow;</span> (Create, Update & Delete) News & Events</p>
        </div>
    </div>
</div>

{% endblock %}
